body{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: skyblue;
    backgrond-image: url('Lab2/CounterApp/_copy.jpeg');
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: red;
    font-size: 36px;
}